<link
  rel="stylesheet"
  href="/Pages/VCockpit/Instruments/NavSystems/350/wt21/MFD/P21/components/hydraulics/hyd-servicing/hyd-servicing.css" />


<script type="text/html" id="hyd-servicing-template">
  <div class="component-container">
    <div class="hyd-servicing ">
      <div
        class="hyd-servicing__box relative border border-grey flex flex-row text-white text-sm">
        <div
          id="press-norm-readout"
          class="hyd-servicing__left flex flex-col flex-1">
          <span>PRESS</span>
          <span>NORM</span>
        </div>
        <div class="hyd-servicing__right flex-1">
          <span>&nbsp</span>
        </div>
      </div>
      <div
        class="hyd-servicing__box text-white text-sm flex flex-row text-center hyd-servicing__box--left">
        <div class="flex flex-col">
          <span>INBD</span>
          <span>BRAKES</span>
        </div>
        <div class="flex flex-col">
          <span>PK/EMER</span>
          <span>BRAKE</span>
        </div>
      </div>
      <div
        class="hyd-servicing__box text-white text-sm flex flex-row text-center hyd-servicing__box--right">
        <div class="flex flex-col">
          <span>OUTBD</span>
          <span>BRAKES</span>
        </div>
      </div>
    </div>
  </div>
</script>

<script
  type="text/javascript"
  src="/Pages/VCockpit/Instruments/NavSystems/350/wt21/MFD/P21/components/hydraulics/hyd-servicing/hyd-servicing.js"></script>
