<link
  rel="stylesheet"
  href="/Pages/VCockpit/Instruments/NavSystems/350/wt21/MFD/P21/components/hydraulics/ptu-icon/ptu-icon.css" />
<script type="text/html" id="ptu-icon-template">
  <div class="component-container">
    <div class="ptu-icon__container">
      <div id="label" class="ptu-icon__label text-sm">
        <span>PTU</span>
      </div>
      <svg width="30" height="30" viewBox="-13 -13 26 26">

        <g id="group" stroke-width="4" class="stroke-white">
          <circle id="circle" cx="0" cy="0" r="10" stroke-width="2" />

          <g id="lines" stroke-width="2">
            <line x1="-10" y1="-3" x2="9" y2="-3"></line>
            <line x1="-10" y1="4" x2="9" y2="4"></line>
          </g>
        </g>
      </svg>
    </div>
  </div>
</script>
<script src="/Pages/VCockpit/Instruments/NavSystems/350/wt21/MFD/P21/components/hydraulics/ptu-icon/ptu-icon.js"></script>
